
*{
    font-family: 'Patrick Hand', cursive;
    box-sizing: border-box;

}
body{
    background-color: rgb(0, 0, 0);
    color: white
}
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Paytone+One&display=swap');

.titulo{
    color: rgb(255, 255, 255);
    width: 450px;
    height: 60px;
    padding: 5px 0 0 0;
    background-image: url(./img/fondotitulo.jpg);
    background-size: cover;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
}
.subtitulo{
    margin: 20px 0;
}
#selecc-dragon{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarjetas, .tarjetas-ataques{
    display: flex;
    gap: 10px;
}
.tarjeta-dragon{
    width: 350px;
    height: 150px;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
    background: rgba(255, 255, 255, 0.258);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.tarjeta-dragon img{
    width: 150px;
    height: 100px;
    margin: 0 0 0 20px;
}
input{
    display: none;
}
input:checked + label{
    background: rgb(158, 0, 0);
}

#btn-dragon{
    background-color: rgba(0, 0, 0, 0.258);
    color: white;
    font-family: 'Patrick Hand', cursive;
    margin-top: 40px;
    width: 250px;
    height: 30px;
    border: solid 2px white;
    border-radius: 15px;
}

#selecc-ataque{
    flex-direction: column;
    align-items: center;
}

.ataques{
    background-color:rgba(255, 255, 255, 0.258);
    padding: 10px;
    border-radius: 10px;
    border-color: transparent;
    width: 110px;
    font-size: 20px;
    color: white;
    margin: 0 10px;
}

#mensajes{
    width: 280px;
    background: rgb(134, 0, 0);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#btn-reiniciar{
    border: none;
    border-radius: 5px;
    color:rgb(255, 255, 255);
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.258);
}

.perfiles{
    display: grid;
    grid-template-columns: 200px 200px;
    margin: 10px 20px;
}
.mensaje-ataques-jugador,.mensaje-ataques-enemigo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensaje-ataques-jugador img, .mensaje-ataques-enemigo img{
    width: 150px;
    height: 100px;
    margin: 0;
}

/*CANVAS CAPITULO 60*/
#ver-mapa{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mapa{
    border: 2px solid white;
}

#ver-mapa button{
    width: 60px;
    height: 60px;
    margin: 5px;
    text-align: center;
    font-size: 25px;
    color: white;
    background: rgba(255, 255, 255, 0.258);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mover-botones{
    display: flex;

}
@media (max-width: 560px) {
    .tarjetas,.tarjetas-ataques{
       flex-direction: column; 
       align-items: center;
    }
}
@media (max-width: 300px) {
    #ver-mapa{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}